<div id="foot-menu">
    <ul>
        <li>@Html.Link("Home", "")</li>
        <li>@Html.Link("Contact Us", "/contact")</li>
        <li>@Html.Link("About Us", "/AboutUs")</li>
    </ul>
</div>
